{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Scicrop</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}">
        <button id="new-post-btn">Novo Post</button>
    </header>
    <main>
            <div id="post-list">
        {% for post in posts %}
                <div class="post">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                </div>
        {% endfor %}
            </div>
        <section id="post-details" style="display: none;"></section>
    </main>
    
    <div id="post-modal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Criar um novo post</h2>
            <form id="post-form" method="POST" action="{% url 'posts' %}">
                {% csrf_token %}
                <label for="post-title">Titulo:</label>
                <input name="title" type="text" id="post-title" placeholder="Digite o título da postagem" required>
                
                <label for="post-content">Conteúdo:</label>
                <textarea name="text" id="post-content" placeholder="Insira o conteúdo da postagem" required></textarea>
                
                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
