body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: rgb(239, 243, 234);
    color: #555;
    padding: 20px;
    text-align: center;
    position: relative;
}

header button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    background-color: rgb(169, 196, 108);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

header button:hover {
    background-color: #45a049;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}


#posts-container {
    padding: 20px;
}

.post {
    background: rgb(239, 243, 234);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h3 {
    margin: 0;
    cursor: pointer;
    color: #202326b3;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}

.post small {
    color: #555;
    display: block;
    margin: 10px 0;
}

.post-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.post-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: rgb(169, 196, 108);
    color: white;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

#post-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#post-form input,
#post-form textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#post-form button {
    background-color: rgb(169, 196, 108);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#post-form button:hover {
    background-color: #45a049;
}

#post-details {
    display: none;
    margin: 20px;
}
#post-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
#post-details p {
    font-size: 16px;
    color: #555;
}
#back-btn {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#back-btn:hover {
    background-color: #0056b3;
}

